.active {
    background-color: #1976d2;
    color: rgb(255, 255, 255);
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #1976d2;
    color: #fff;
}